<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
    <link href="/css/styles+home.css" rel="stylesheet">
    <link href="/css/styles vender.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/header')%>
    <main>

        <form method="POST" action="agregar" enctype="multipart/form-data" >
            <div class="formulario">
            <div class="part1">
                <div class="form">
                    <p> Marca  </p><select type="text" name="marca" id="marca" placeholder="Marca" required="required" >
                    <datalist id="brand">
                        <% let testmarca="start" %>
                        <% for(let i= 0; i < bases[0].length; i++){ %>
                        
                        <% if (testmarca== bases[0][i].brand) { %>
                        <% }else {  %>
                                <option value=<%= bases[0][i].id %> > <%= bases[0][i].brand %></option>
                                <%   testmarca=bases[0][i].brand; %>
                        <% } %>
                        
                        <% } %>
                    </select>
                </div>
                <div class="form">
                    <p> Modelo  </p><select  type="text" name="modelo" id="modelo" placeholder="Modelo" required="required">
                    <% for(let i= 0; i < bases[1].length; i++){ %>
                    <% if (testmarca== bases[1][i].model) { %>
                    <% }else {  %>
                            <option value=<%= bases[1][i].id %> > <%= bases[1][i].model %></option>
                            <%   testmarca=bases[1][i].model; %>
                    <% } %>
                    <% } %>
                    </select>
                </div>
                <div class="form">
                    <p> Kilometraje </p><input type="number" name="kilometraje" id="kilometraje" placeholder="Kilometraje" required="required">
                </div>
                <div class="form">
                    <p> Precio </p><input type="number" name="precio" id="precio" placeholder="Precio"  required="required">
                </div>
                <div class="form">
                    <p> Color </p><input type="text" name="color" id="color" placeholder="Color" required="required">
                </div>
            </div>
            <div class="part2">
                <div class="form">
                    <p> Condici칩n </p><input type="text" name="condicion" id="condicion" placeholder="Condici칩n"  required="required">
                </div>
                <div class="form">
                    <p> A침o </p><input type="number" name="year" id="year" placeholder="A침o"  required="required">
                </div>
                <div class="form">
                    <p> Combustible </p><input type="text" name="precio" id="precio" placeholder="Combustible" required="required">
                </div>
                <div class="form">
                    <p> Transmision </p><input type="text" name="transmision" id="transmision" placeholder="Transmision" required="required">
                </div>
                <div class="form">
                    <p> Categoria </p><select type="text" name="categoria" id="categoria" placeholder="Categoria" required="required" >
                    <% for(let i= 0; i < bases[2].length; i++){ %>
                    <% if (testmarca== bases[2][i].type_auto) { %>
                    <% }else {  %>
                            <option value= <%= bases[2][i].id %> ><%= bases[2][i].type_auto %></option>
                            <%   testmarca=bases[2][i].type_auto; %>
                    <% } %>
                    <% } %>
                    </select >
                </div>
            </div>
            </div>
            <br>
            <div class="custom-file">
                <label for ="imagen-auto">Subi una foto de tu auto </label>
                <input type="file"   name="imagen-auto"  placeholder="Elige una imagen">
            </div>
            <br>
            <button class="form" type="submit">Publicar</button>   
        </form>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>