<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
    <link href="/css/styles+home.css" rel="stylesheet">
    <link href="/css/styles+edit.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/header')%>
    <main>

        <form action="/editar/<%=vehiculoEditar.id%>?_method=PUT" method="POST"  enctype="multipart/form-data" >
            <div class="formulario">
                <div class="part1">
                    <div class="form">
                        <p> Marca </p><input type="text" name="marca" id="marca" placeholder="Marca" required="required" value="<%=vehiculoEditar.marca%>">
                    </div>
                    <div class="form">
                        <p> Modelo </p><input type="text" name="modelo" id="modelo" placeholder="Modelo" required="required">
                    </div>
                    <div class="form">
                        <p> Kilometraje </p><input type="text" name="kilometraje" id="kilometraje" placeholder="Kilometraje" required="required" value="<%=vehiculoEditar.kilometraje +" km" %>">
                    </div>
                    <div class="form">
                        <p> Precio </p><input type="text" name="precio" id="precio" placeholder="Precio"  required="required" value="<%=vehiculoEditar.precio%>">
                    </div>
                </div>
                <div class="part2">
                    <div class="form">
                        <p> Condición </p><input type="text" name="condicion" id="condicion" placeholder="Condición"  required="required">
                    </div>
                    <div class="form">
                        <p> Año </p><input type="number" name="year" id="year" placeholder="Año"  required="required" value="<%=vehiculoEditar.año%>">
                    </div>
                    <div class="form">
                        <p> Combustible </p><input type="number" name="precio" id="precio" placeholder="Combustible" required="required">
                    </div>
                    <div class="form">
                        <p> Transmision </p><input type="text" name="transmision" id="transmision" placeholder="Transmision" required="required" value="<%=vehiculoEditar.transmision%>">
                    </div>
                </div>
                </div>
                <br>
                <br>
            <div class="custom-file">
                <label for ="imagen-auto">Subi una foto de tu auto </label>
                <input type="file"   name="imagen-auto"  placeholder="Elige una imagen">
            </div>
            <br>
            <br>
            <button class="form" type="submit">Editar</button>   
        </form>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>