<!Doctype html>
<html>
    <head>
        <title>"Detalle de articulo"</title>
        <meta name="viewport" content="width=device-wid th">
        <meta charset="utf-8">
        <link href="/css/styles+home.css" rel="stylesheet">
        <link href="/css/styles+detalle.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('../partials/header')%>
        <main>   
            <div class="productos">
                <img src="\images\autos\<%=vehiculos.image_filename%>" style='height: 100%; width: 100%; object-fit: fill' >  
                <div class="detalleProductos">
                <h4 class="productos-titulo"><%= vehiculos.name + " "+vehiculos.brands.brand + " "+vehiculos.models.model + " "+vehiculos.categories.type_auto + " "+vehiculos.colors.color %></h4>
                <p class="productos-detalles">Año: <%= vehiculos.years.year %></p>
                <p class="productos-detalles">Kilomentraje: <%= vehiculos.km_intervals.intervals %> kms</p>
                <p class="productos-detalles">Transmisión: <%= vehiculos.transmission %></p>
                <p class="productos-precio">Precio: <%= vehiculos.prices %></p>
                <p class="productos-detalles">Condicion: <%= vehiculos.conditions + " "+vehiculos.stock %></p>
                </div>
            </div>
        </main>
        <%- include('../partials/footer')%>
    </body>
</html>