<!DOCTYPE html>
<html>

<head>
    <title>Formulario de edicion</title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
    <link href="/css/styles+edicion.css" rel="stylesheet">
    <link href="/css/styles+home.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./partials/header')%>

    <main>
        <article>
            <h2>Editor de productos</h2>
        </article>
        <article>
            <a class="edicion-texto" href="/create"> Agregar</a>
        </article>
        <table class="table">
            <thead>
            <tr>  
                <th scope="col">Id</th>
                <th class="ubicacion-nombre"scope="col">Nombre</th>
                <th scope="col">Ver</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
            </tr>
            </thead>
            <tbody>
            <% for (let i=0;i<vehiculosDelArchivoJSON.length;i++ ) { %> 
            <tr class="interlineado-productos">
                <td><%= vehiculosDelArchivoJSON[i].id%> </td>
                <td class="detallevehiculos"><%= vehiculosDelArchivoJSON[i].nombre%> </td>
                <td><a class="edicion-texto" href="/detalle/<%= vehiculosDelArchivoJSON[i].id%> "> ver</a></td>
                <td><a class="edicion-texto" href="/editar/<%= vehiculosDelArchivoJSON[i].id%> "> editar</ion-icon></a></td>
                <td><a class="edicion-texto" href="/delete/<%= vehiculosDelArchivoJSON[i].id%>"> delete</a></td>
            </tr>
            <% }; %>
            </tbody>
        </table> 

    </main>
    <%- include('./partials/footer')%>
</body>
</html>

