<!Doctype html>
<html>
    <head>
        <title>"Detalle de articulo"</title>
        <meta name="viewport" content="width=device-wid th">
        <meta charset="utf-8">
        <link href="/css/styles+home.css" rel="stylesheet">
        <link href="/css/styles+detalle.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('./partials/header')%>
        <main>   
            <div class="productos">
                <img src="\images\autos\<%=vehiculo.imagen%>" style='height: 100%; width: 100%; object-fit: fill' >  
                <div class="detalleProductos">
                <h4 class="productos-titulo"><%= vehiculo.nombre %></h4>
                <p class="productos-detalles">Año: <%= vehiculo.año %></p>
                <p class="productos-detalles">Kilomentraje: <%= vehiculo.kilometraje %> kms</p>
                <p class="productos-detalles">Transmisión: <%= vehiculo.transmision %></p>
                <p class="productos-precio">Precio: <%= vehiculo.precio %></p>
                </div>
            </div>
        </main>
        <%- include('./partials/footer')%>
    </body>
</html>