<!Doctype html>
<html>
    <head>
        <title>Detalle de productos</title>
        <meta name="viewport" content="width=device-wid th">
        <meta charset="utf-8">
        <link href="/css/styles+productos.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <img src="\images\infiniticars.png" style='height: 100%; width: 100%; object-fit: fill' > 
            <span>Comprá un auto</span>
            <span>Vende un auto</span> 
            <span>Nosotros</span>
            <span ><i href="/shop-car" class="fa-solid fa-basket-shopping"></i></span>
            <div>
                <span><i href="/login"  class="fa-solid fa-user"></i>  Mi cuenta </span>  
            </div>
            <i id="burger-menu" class="fa-solid fa-bars"></i>          
        </header>
        <main>   
            <div id="busqueda">     
            <h4> Buscar por modelo, marca , color <i class="fa-solid fa-magnifying-glass "></i> </h4>
            </div>
            <div class="headerfiltros">
                <span id="titular-filtro">FILTRO</span>
                <span id="titular-seleccion"> |Reset all| Filtros aplicados x |</span>
                <span id="titular-orden"> Ordenar: Mas relevante <i class="fa-solid fa-arrow-down"></i></span>
            </div>
            <section id="marketplace">
            <div class="filtros-mobile">
                <span>Tipo  |</span>
                <span>Marca | </span>
                <span>+Filtros  |</span>
                <span> Ordenar: ej Precio </span>
                <span><i class="fa-solid fa-arrow-down"></i></span>
            </div>
            <div class="filtros">
                <ul>Categorias
                    <li>SUVs</li>
                    <li>Hatchbacks</li>
                    <li>Sedan</li>
                    <li>Coupes</li>
                    <li>Sports</li>
                    <li>Convertibles</li>
                    <li>Utilitario</li>
                </ul>
                <ul>Año
                    <li>2022</li>
                    <li>2021</li>
                    <li>2020</li>
                    <li>2019</li>
                </ul>
                <ul>Precio
                    <li>Caro</li>
                    <li>Medio</li>
                    <li>Barato</li>
                </ul>
                <ul>Condicion
                    <li>Nuevo</li>
                    <li>Usado</li>
                </ul>
                <ul>Marca
                    <li>Ford</li>
                    <li>Honda</li>
                    <li>BMW</li>
                    <li>Peugeot</li>
                    <li>Jaguar</li>
                    <li>Hyundai</li>
                </ul>
                <ul>Kilometros
                    <li>menos</li>
                    <li>mas</li>
                </ul>
                <ul>Combustible
                    <li>Electrico</li>
                    <li>Diesel</li>
                    <li>Hibrido</li>
                </ul>
            </div>
            <section class="contenedor-productos">
                <% for(let i= 0; i < vehiculos.length; i++){ %>
                    <div class="productos">
                        <a href= "/detalle/<%=vehiculos[i].id%>" </a>
                        <img src="\images\autos\<%=vehiculos[i].imagen%>" style='height: 100%; width: 100%; object-fit: fill' >  
                        <h4 class="productos-titulo"><%= vehiculos[i].nombre %></h4>
                        <p class="productos-detalles"><%= vehiculos[i].año +" "+vehiculos[i].kilometraje +" "+ vehiculos[i].transmision %></p>
                        <p class="productos-precio"><%= vehiculos[i].precio %></p>
                    </div>
                <% } %>                 

            </section>
            </section>
            <div id="paginas-mobile">
                <span><i class="fa-solid fa-chevron-left"></i></span>
                <span> 1 de 1 </span>
                <span><i class="fa-solid fa-chevron-right"></i> </span>
                <span><i class="fa-solid fa-chevrons-double-right"></i>  </span>
            </div>
        </main>
    <footer>
        <section class="footer"> 
            <p>Compra tu auto</p>
            <p>Financiamiento </p>
            <p>Preguntas frecuentes </p>           
        </section>
        <section class="footer">
            <p>Redes sociales</p>
            <p>Contacto </p>
            <p>Trabaja con nosotros</p>
        </section>
        <section>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-youtube"></i>
            <p>Politicas de Privacidad  Terminos y condiciones</p>
        </section>
    </footer>
    </body>
</html>