<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
    <link href="/css/sltyles+register-login.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/header')%>
    <main>
        <h2>EDITA TU PERFIL</h2>
        <section id="formulario">
            <a><img   src="/images/usuarios/<%= usuarioEdit.image %>"  style= 'width: 20rem; height: 20rem; 'alt="Foto"></a>
            <form method="POST" action="/editarPerfil?_method=PUT"" enctype="multipart/form-data" >
                <div class="form">
                    <label for="nombre"></label>
                    <input type="text" name="nombreCompleto" id="nombre" placeholder="Nombre completo"
                    value="<%= usuarioEdit.full_name%>">
                    <% if (locals.errors && errors.nombreCompleto){ %>
                    <div class="mensajeError">
                        <%= errors.nombreCompleto.msg %>
                    </div>
                <% } %>
                </div>
                <div class="form">
                    <label for="usuario"></label>
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario"
                    value="<%= usuarioEdit.user %>"
                    >
                    <% if (locals.errors && errors.usuario){ %>
                        <div class="mensajeError">
                            <%= errors.usuario.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="form">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                    <% if (locals.errors && errors.password){ %>
                        <div class="mensajeError">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="form">
                    <label for="fecha-de-nacimiento"></label>
                    <input type="date" name="fechaDeNacimiento" id="fechadenacimiento" placeholder="Fecha de nacimiento" value="<%= usuarioEdit.date_birth %>">
                </div>
                <div class="form">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="Email"
                    value="<%= usuarioEdit.email %>"
                    >
                    <% if (locals.errors && errors.email){ %>
                        <div class="mensajeError">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="form">
                    <span>
                        <label for="celular"></label>
                        <input type="tel" name="celular" id="celular" placeholder="Celular"
                        value="<%= usuarioEdit.phone %>">
                        <% if (locals.errors && errors.celular){ %>
                            <div class="mensajeError">
                                <%= errors.celular.msg %>
                            </div>
                        <% } %>
                    </span>
                </div>
                <div>

            </div>
            <div class="form">
            <input type="hidden" name="oldImage" id="oldImage" value=<%= usuarioEdit.image %> />
            <label for ="avatar"> </label>
            <input type="file"   name="avatar"  placeholder="Elige una imagen">
            <% if (locals.errors && errors.avatar){ %>
                <div class="mensajeError">
                    <%= errors.avatar.msg %>
                </div>
            <% } %>
            </div>

                <button type="submit">Editar!</button>
            </form>
            <p>
                Ya tenes cuenta? <a href="/login">Log in</a>
            </p>
        </section>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>