<!Doctype html>
<html>
    <head>
        <title>Detalle de productos</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="viewport" content="width=device-wid th">
        <meta charset="utf-8">
        <link href="/css/styles+header.css" rel="stylesheet">
        <link href="/css/styles+productos.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="main-header">
            <div>
                <a href="/"><img src="/images/infiniticars.png" class="logo" /></a>
            </div>
            <div class="seccion-barra2">
                <% if( locals.userLogged==null){%> <a> </a>
                    <% }else if (locals.userLogged.state==9 || locals.userLogged.rol==9) { %>
                        <a href="/administrar">Admin</a>
                        <% } %>
                            <i class="fas fa-search"></i>
                            <a href="/nosotros">Nosotros</a>
                            <a href="/productos/1">Catálogo</a>
            </div>
            <div class="seccion-barra2">
                <a href="/agregar">Vende tu auto</a>
                <% if (locals.isLogged) { %>
                    <a class="sesion" class="fa-solid fa-basket-shopping" href="/shop-cart">Carrito</a>
                    <a href="/profile" class="miniatura">
                        <div>
                            <img src="/images/usuarios/<%= locals.userLogged.image %>"
                                style="border-radius: 50%; width: 2.5rem; height: 2.5rem" alt="Foto" />
                        </div>
                        <div>
                            <%= locals.userLogged.user %>
                    </a>
            </div>
            <a class="sesion" href="/profile">Mi perfil</a>
            <a class="sesion" href="/logout">Cerrar sesion</a>
            <% } else { %>
                <a class="sesion2" href="/register">Registrate</a>
                <a class="sesion2" href="/login">Inicia sesion</a>
                <% } %>
                    </div>
                    <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
                    <script src="js/menuBurger.js"></script>
        </header>
        <span id="busqueda">
            <br>
        </span>
        <main>   
            <div class="headerfiltros">
                <span id="titular-filtro">FILTRO</span>
                <span id="titular-seleccion"> |Reset all| Filtros aplicados x |</span>
                <span id="titular-orden"> Ordenar: Mas relevante <i class="fa-solid fa-arrow-down"></i></span>
            </div>
            <section id="marketplace">
            <div class="filtros-mobile">
                <span>Tipo  |</span>
                <span>Marca | </span>
                <span>+Filtros  |</span>
                <span> Ordenar: ej Precio </span>
                <span><i class="fa-solid fa-arrow-down"></i></span>
            </div>
            <div class="filtros">
                <ul>Categorias
                    <li>SUVs</li>
                    <li>Hatchbacks</li>
                    <li>Sedan</li>
                    <li>Coupes</li>
                    <li>Sports</li>
                    <li>Convertibles</li>
                    <li>Utilitario</li>
                </ul>
                <ul>Año
                    <li>2022</li>
                    <li>2021</li>
                    <li>2020</li>
                    <li>2019</li>
                </ul>
                <ul>Precio
                    <li>Caro</li>
                    <li>Medio</li>
                    <li>Barato</li>
                </ul>
                <ul>Condicion
                    <li>Nuevo</li>
                    <li>Usado</li>
                </ul>
                <ul>Marca
                    <li>Ford</li>
                    <li>Honda</li>
                    <li>BMW</li>
                    <li>Peugeot</li>
                    <li>Jaguar</li>
                    <li>Hyundai</li>
                </ul>
                <ul>Kilometros
                    <li>menos</li>
                    <li>mas</li>
                </ul>
                <ul>Combustible
                    <li>Electrico</li>
                    <li>Diesel</li>
                    <li>Hibrido</li>
                </ul>
            </div>
            <section class="contenedor-productos" id="contenedor-productos">
                <% for(let i= 0; i < vehiculos.length; i++){ %>
                    <div class="productos" >
                        <a href= "/detalle/<%=vehiculos[i].id%>">
                        <img src="\images\autos\<%=vehiculos[i].image_filename%>" style='height: 100%; width: 100%; object-fit: fill' >  
                        <h4 class="productos-titulo"><%= vehiculos[i].brands.brand %></h4>
                        <h4 class="productos-titulo"><%= vehiculos[i].categories.type_auto+" "+vehiculos[i].models.model %></h4>
                        <p class="productos-detalles"><%= vehiculos[i].years.year +" "+vehiculos[i].km_intervals.intervals +" km "+ vehiculos[i].transmission + " "+vehiculos[i].conditions %></p>
                        <p class="productos-precio"><%= "$"+  new Intl.NumberFormat('de-DE').format(vehiculos[i].prices )  + " "+vehiculos[i].stock %></p></a>
                    </div>
                <% } %>                 

            </section>
            </section>
                <div id="paginas-mobile">
                    <a id="preview" ><button > <i class="fa-solid fa-chevron-left"></i></button> </a>
                    <ul id="paginas" class="paginados-number"></ul>
                    <a id="next" href="" ><button id="next"><i class="fa-solid fa-chevron-right"></i></button> </a>
                    
                </div>
        </main>
        <%- include('../partials/footer')%>
        <script src= "/js/catalogo.js"></script>
    </body>
</html>