<!Doctype html>
<html lang="en">
    <head>
        <title>Profile</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="/css/styles+home.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('../partials/header')%>
        <div class="container" style="margin-top: 20px;">
		<div>
			<div style= 'text-align: center;'>
                <h2> <%= user.nombreCompleto %></h2>
				<a><img   src="/images/usuarios/<%= user.image %>"  style= 'width: 20rem; height: 20rem; 'alt="Foto"></a>
				<br>
				<br>
				<div class="alert alert-success"><%= user.email %> </div>
                <a href="/editarPerfil"><button></i> EDITAR PERFIL</button></a>
			</div>
		</div>
	    </div>
        <%- include('../partials/footer')%>
    </body>